<footer class="footer">
  <div class="footer__container">
    <h1 class="footer__title">- get in touch with us -</h1>
    <div class="footer__subtitle">
      Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet
      sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor
      vollisky inceptos mollisestor.
    </div>
    <div class="footer__icons">
      <div class="icon__wifi"><i class="bx bx-wifi-2"></i></div>
      <div class="icon__facebook"><i class="bx bxl-facebook"></i></div>
      <div class="icon__twitter"><i class="bx bxl-twitter"></i></div>
      <div class="icon__dribble"><i class="bx bxl-dribbble"></i></div>
      <div class="icon__pinterest"><i class="bx bxl-pinterest"></i></div>
    </div>
    <div class="footer__info">
      <div class="info__adress">Moonshine St. 14-05 Light City /</div>
      <div class="info__tel">T. +00 (123) 456 78 90 /</div>
      <div class="info__mail">first.last@email.com</div>
    </div>
  </div>
</footer>
