<header class="header">
  <div class="header__container">
    <div class="header__menu menu">
      <div class="menu__icon">
        <span></span>
      </div>
      <nav class="menu__body">
        <ul class="menu__list">
          <li>
            <a href="#" class="menu__link">Home</a>
          </li>
          <li>
            <a href="#" class="menu__link">About Us</a>
          </li>
          <li>
            <a href="#" class="menu__link">Our Journal</a>
          </li>
          <li>
            <a href="" class="menu__link">Projects</a>
          </li>
          <li>
            <a href="" class="menu__link">news</a>
          </li>
          <li>
            <a href="" class="menu__link">features</a>
          </li>
          <li>
            <a href="" class="menu__link">contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
