.footer {
    background-color: #000000;
    height: 335px;
    width: 100%;
    color: #fefefe;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    // .footer__title

    &__title {
        margin-top: 66px;
        text-transform: uppercase;
    }

    // .footer__subtitle

    &__subtitle {
        margin-top: 22px;
        color: #b9b9b9;
    }

    // .footer__icons

    &__icons {
        display: flex;
        margin-top: 38px;
        gap: 10px;
    }
    &__info {
        display: flex;
        color: #b9b9b9;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: center;
        margin-top: 34px;
    }
}
.icon {
    &__wifi {
        color: #f8902e;
        border: 1px solid #f8902e;
        border-radius: 50%;
        padding: 6px;
        // rotate: -45deg;
    }

    // .icon__facebook

    &__facebook {
        color: #39599f;
        border: 1px solid #39599f;
        border-radius: 50%;
        padding: 6px;
    }

    // .icon__twitter

    &__twitter {
        color: #45b0e3;
        border: 1px solid #45b0e3;
        border-radius: 50%;
        padding: 6px;
    }

    // .icon__dribble

    &__dribble {
        color: #d97ab0;
        border: 1px solid #d97ab0;
        border-radius: 50%;
        padding: 6px;
    }

    // .icon__pinterest

    &__pinterest {
        color: #cc212c;
        border: 1px solid #cc212c;
        border-radius: 50%;
        padding: 6px;
    }
}

.info {
    &__adress {
        margin-right: 10px;
    }

    // .info__tel

    &__tel {
        margin-right: 10px;
    }

    // .info__mail

    &__mail {
    }
}

//-----------------ADAPTIVE--------------------//
@media (max-width: $tablet) {
    .footer {
        height: 300px;
        width: 100%;

        &__title {
            margin-top: 50px;
            font-size: 14px;
        }
        &__subtitle {
            font-size: 12px;
            padding: 0 100px 0 100px;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        &__icons {
            display: flex;
            margin-top: 38px;
            gap: 10px;
        }
        &__info {
            color: #b9b9b9;
            font-size: 12px;
            line-height: 20px;
            margin-top: 28px;
        }
    }
}

//-------------mobile------------------//

@media (max-width: $mobile) {
    .footer {
        width: 100%;

        &__title {
            margin-top: 38px;
            font-size: 12px;
        }
        &__subtitle {
            font-size: 10px;
            padding: 0 38px 0 38px;
            line-height: 1.5;
        }

        &__icons {
            display: flex;
            margin-top: 38px;
            gap: 10px;
        }
        &__info {
            display: flex;
            flex-direction: column;
            color: #b9b9b9;
            font-size: 12px;
            line-height: 20px;
            margin-top: 28px;
        }
    }
}
