.wrapper {
	min-height: 100%;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: rgba(17, 17, 17, 0.116);
}
.header__container {
	max-width: 1200px;
	margin: 0px auto;
	display: flex;
	padding: 0px 30px;
	align-items: center;
	justify-content: end;
	min-height: 70px;
}
.header__menu {
	text-transform: uppercase;
}
.menu__icon {
	display: none;
}
.menu__list {
	> li {
		position: relative;
		margin: 0px 0px 0px 60px;
	}
}
.menu__link {
	color: #4e4e4e;
	font-size: 14px;
	&:hover {
		color: #57a4a4;
	}
}
@media (min-width: $tablet) {
	.header__container {
		align-items: center;
		justify-content: center;
		min-height: 70px;
	}
	.menu__list {
		display: flex;
		align-items: center;
		> li {
			padding: 10px 0;
		}
	}
}
@media (max-width: $tablet) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		span {
			left: -10px;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #fff;
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}
		&::before {
			left: -10px;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #fff;
			content: "";
			top: 0;
		}
		&::after {
			left: -10px;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #fff;
			content: "";
			bottom: 0;
		}
	}
	.menu__icon._active {
		span {
			transform: scale(0) translate(0px, -50%);
		}
		&::before {
			top: 50%;
			transform: rotate(-45deg) translate(0px, -50%);
		}
		&::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0px, 50%);
		}
	}
	.menu__body {
		position: fixed;
		top: 70px;
		right: -100%;
		height: 330px;
		background-color: #f5f5f5;
		padding: 10px 106px 10px 12px;
		transition: right 0.3s ease 0s;
		overflow: auto;
		li {
			a {
				&:hover {
					color: #57a4a4;
					width: 100%;
					background-color: #e5e5e5;
				}
			}
		}
		&::before {
			content: "";
			position: fixed;
			width: 50px;
			top: 10px;
			right: 30px;
			height: 50px;
			background-color: #111;
			z-index: 2;
		}
	}
	.menu__body._active {
		right: 30px;
	}
	.menu__list {
		> li {
			flex-wrap: wrap;
			margin: 0px 0px 30px 0px;
			width: 100%;
			&:last-child {
				margin-bottom: 0;
			}
		}
		> li._active {
			display: block;
		}
	}
	.menu__link {
		font-size: 14px;
	}
}
